/*****  Site Wide   *****/

body {
    font-family: 'Montserrat', sans-serif;
}

/*****  Title Section   *****/

.container-fluid {
    padding: 3% 15%
}

.download-button {
    margin: 5% 3% 5% 0%
}

.navbar {
    padding: 0 0 6rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}

.nav-item {
    padding: 0 18px;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

#h1-home-title {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

/*****  Features Section   *****/

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icons {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icons:hover {
    color: #ff4c68;
}

.h3-home-features {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.p-home-features {
    color: #8f8f8f;
}

#features {
    padding: 7% 15%;
}

/*****  Testimonials Section   *****/

.carousel-indicators {
    padding: 0 0 50px;
}
.carousel-item {
    padding: 7% 15%;
}

.h2-home-testimonials {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
    font-style: italic;
}

.testimonials-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#testimonials {    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

/*****  Press Section   *****/

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

/*****  Pricing Section    *****/

.button-hover:hover {
    color: #fff;
    background-color: #ff4c68;
}

.card  {
    border: 0rem;
}

.card-footer {
    border: 0rem;
    background-color: #fff;
}

.card-header {
    border: 0rem;
    background-color: #fff;
}

.h2-home-pricing {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.h2-home-price-card {
    color:#ff4c68;
    font-weight: 900;
    margin: 1.5rem auto 3rem;
}

.h3-home-price-card {
    font-weight: 600;
}

.p-home-pricing {
    color: #8f8f8f
}

.p-home-price-card {
    color: #8f8f8f;
}

.pricing-column {
    padding: 3% 2%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

/*****  Call To Action Section  *****/

#cta {
    background-color: #ff4c68;
    text-align: center;
}

/*****  Footer Section *****/

#footer {
    background-color: #ff4c68;
    text-align: center;
}