/*****  Site Wide   *****/

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff
}

.white-section {
    background-color: #fff;
    color: black;
}

/*****  Title Section   *****/

.download-button {
    margin: 5% 3% 5% 0%;
}

.navbar {
    padding: 0 0 8rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 200;
}

.nav-item {
    padding: 0 25px;
}

.title-image {
    top: -20%;
    position: absolute;
    right: 22.5%;
    width: 60%;
    transform: rotate(25deg);
}

@media (max-width: 1200px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}

.title-row {
    position: relative;
    padding: 1px;
}

#h1-home-title {
    font-size: 3.5rem;
    line-height: 1.5;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/*****  Features Section   *****/

.feature-box {
    padding: 5%;
}

.feature-icons {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icons:hover {
    color: #ff4c68;
}

.h3-home-features {
    font-weight: 600;
}

.p-home-features {
    color: #8f8f8f;
}

#features {
    position: relative;
}

/*****  Testimonials Section   *****/

.carousel-indicators {
    padding: 0 0 50px;
}

.h2-home-testimonials {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
    font-style: italic;
}

.testimonials-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#testimonials {    
    background-color: #ef8172;
}

/*****  Press Section   *****/

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

/*****  Pricing Section    *****/

.button-hover:hover {
    background-color: #ff4c68;
}

.card  {
    border: 0rem;
}

.card-footer {
    border: 0rem;
    background-color: #fff;
}

.card-header {
    border: 0rem;
    background-color: #fff;
}

.h2-home-pricing {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.h2-home-price-card {
    color:#ff4c68;
    margin: 1.5rem auto 3rem;
}

.h3-home-price-card {
    font-weight: 600;
}

.p-home-pricing {
    color: #8f8f8f
}

.p-home-price-card {
    color: #8f8f8f;
}

.pricing-column {
    padding: 3% 2%;
}

#pricing {
    padding: 100px;
}

/*****  Call To Action Section  *****/

.h3-home-cta {
    font-size: 3.5rem;
    line-height: 1.5;
}

/*****  Footer Section *****/

.contact-icon {
    margin: 2% 1%;
}